<div class="padding20" fxLayout="row" fxLayoutGap="20px">
  <div fxFlex="30">
    <h3>Total Users <span *ngIf="dataSource.length > 0">({{dataSource.length}})</span></h3>
    <div id="users" cdkDropList [cdkDropListData]="dataSource" cdkDropListConnectedTo="user-add" class="card overflow"
      (cdkDropListDropped)="drop($event)">
      <div class="padding10 cursor-move" *ngFor="let item of dataSource;" [cdkDragData]="item" cdkDrag>
        <div fxFlex="100" fxLayout="row">
          <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
            <input class="pointer" type="checkbox" [checked]="isRowSelected(item)" (click)="$event.stopPropagation()"
              (change)="$event ? selectRow(item) : null" />
            <p class="abvr" fxLayoutAlign="center center">{{getAbrv(item.name )}}</p>
            <div fxLayout="column">
              <p class="font-15">{{ item.name }}</p>
              <p class="email">{{ item.email }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="70">
    <h3>Added Users</h3>
    <div id="user-add" cdkDropList [cdkDropListData]="finalSelection" cdkDropListConnectedTo="users"
      class="card border-blue overflow" (cdkDropListDropped)="drop($event)">
      <div class="padding10" *ngFor="let item of finalSelection">
        <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
          <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
            <p class="abvr" fxLayoutAlign="center center">{{getAbrv(item.name )}}</p>
            <div fxLayout="column">
              <p class="font-15">{{ item.name }}</p>
              <p class="email">{{ item.email }}</p>
            </div>
          </div>
          <div class="cross-icon pointer" (click)="removeItem(item)"></div>
        </div>
      </div>
    </div>
  </div>
</div>
